body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('images/typewriter.jpg');
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata'
}

h1 {
  color: #4AAAA5;
  max-width: 1078px;
  font-size: 40px;
  margin: 40px 0;
}

h2 {
  color: #35404F;
  max-width: 1078px;
  font-size: 30px;
  margin: 40px 0;
}

p {
  color: gray;
  font-size: 25px;
  line-height: 1.4em;
}

a {
  color: #E45F56;
  text-decoration: none;
}

a:hover {
  color: #7ACCC8;
  text-decoration: underline;
}

a.name {
  color: #4AAAA5;
  max-width: 1078px;
  font-size: 60px;
  margin: 40px 0;
}

a.name:hover {
  text-decoration: none;
}

ul {
  width: 90%;
  list-style: none;
  border-top: 1px solid #35404F;
  margin: 0;
  padding: 20px 0 0;
}

ul:after {
  content: '';
  display: block;
  clear: both;
}

li {
  width: 10%;
  padding: 10px;
  float: left;
  color: #000;
  font-size: 18px;
  margin-left: 0;
}

li:first-child {
  margin-left: 0;
}

li a {
  color: #000;
  text-decoration: none;
}

i {
  color: #35404F;
}

i:hover {
  color: #7ACCC8;
}

span {
  color: black;
  transition: color 200ms ease;
}

span.type {
  color: transparent;
}


#wrapper {
  width: 75%;
  max-width: 1336px;
  height: 100%;
  position: relative;
  margin: auto;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 2;
/*  margin-top: -26px;
*/  margin-bottom: 20px;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


#footer {
  width: 100%;
  height: 42px;
  background-color: #4AAAA5;
  position: fixed;
  bottom: 0;
}

table tr td {
  padding: 10px;
  font-size: 20px;
  color: #35404F;
  text-align: center;
  line-height: 1.5em;
}

.writing-container {
  font-size: 18px;
  margin: 10px 80px;
  min-height: 100%;
  background-color: #E8E9E9;
  opacity: 0.8;
  padding: 20px;
}

.writing-container p {
  color: black;
  font-size: 18px;
  margin: 10px 80px;
  min-height: 100%;
  background-color: #E8E9E9;
  opacity: 0.8;
  padding: 20px;
}

@media (min-width: 601px) and (max-width: 980px) {
  p {
    font-size: 25px;
  }
  li {
    padding: 15px;
    width: 8%;
  }
  #content-wrapper{
    top: 70%;
}
  #footer {
    height: 20px;
  }
}


@media (max-width: 600px) {
  #content-wrapper{
    margin-top: 0px;
    top: 80%;
    min-height: 110%;
    margin-bottom: 50px;
  }
  h1{
    font-size: 45px;
    text-align: center;
    line-height: 1.2em;
    } 
  h2 {
    font-size: 35px;
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  li {
    padding: 25px;
    width: 10%;
  }
  #footer {
    display: none;
  }
}